* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 2.0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #333;
    
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.nav-links a:hover {
    color:#00bcd4;
}

.section {
    background-color: white;
    margin: 30px auto;
    padding: 40px;
    width:auto;
    border-radius:6px;
}

.section h1, .section h2 {
    margin-bottom: 20px;
    color: #222;
}

.section p {
    font-size: 16px;
}

#projects, #contact {
    min-height: 150px;
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 1rem;
    }

    .nav-links li {
        margin-top: 10px;
    }

    .section {
        padding: 20px;
        margin: 20px auto;
    }
}
